<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <h2>E-Cell</h2>
    <div>
        <a href="/">Home</a>
        <a href="/view">View Tasks</a>
        <a href="/login">Login</a>
    </div>
</nav>

<section class="hero">

      <div class="hero-content">
        <h1>Empowering Innovation at E-Cell</h1>
        <p>Manage tasks, track progress and build the future</p>
        <a href="/view" class="hero-btn">Explore Tasks</a>
    </div>
</section>

<div class="container">
    <h2 class="center">About</h2>
    <p class="center">
        This platform allows E-Cell to manage, upload and track all tasks and reports efficiently.
    </p>
</div>

<section class="activities">

    <h2>Our Activities</h2>

    <div class="activity-container">

        <div class="activity-card">
            <h3>Workshops</h3>
            <p>Startup development and entrepreneurship training.</p>
        </div>

        <div class="activity-card">
            <h3>Mentorship</h3>
            <p>Also get mentorship</p>
        </div>

        <div class="activity-card">
            <h3>Competitions</h3>
            <p>Business idea pitching and startup contests.</p>
        </div>


    </div>

</section>

<footer class="footer">
    <div class="footer-container">
        <p> E-Cell. </p>
        <p>Designed by E-Cell Team</p>
    </div>
</footer>
</body>
</html>