<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>

<nav>
    <h2>E-Cell</h2>
    <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
</nav>

<div class="container">

    <h2 class="center">All Tasks</h2>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>File</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="taskTable"></tbody>
    </table>

</div>

<script src="/public/script.js"></script>

</body>
</html>